<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title> Welcome to Ansible!</title>
	</head>
	<body>
		<h1>Nginx has been configured by Ansible</h1>
		<p> This is working!</p>
		<br />
		<p>{{ ansible_managed }}</p>
	</body>
</html>

